/* This is my css stylesheet- there are many like it, but this is mine */
* {
    margin: 0px 10px 0px 10;
}

body {
    background-color: lightblue;
}
  
h1 {
    color:rgb(0, 0, 128);
    text-decoration: underline;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 5ex;
}

.div1, .div2, .div3 {
    background-color: #FFFF;
    border-style:solid;
    border-color:hsl(0, 100, 0);
    border-radius:0.1in;
    padding: 10pt 10px 10pt 10px;
    margin-bottom: 25px;
}

div h2 {
    height: 20px;
    max-height: 20px;
    display: block;
    position: relative;
    font-family:  Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

#note1 {
    width: 35em;
}

p > em {
    color: purple;
}

video + p {
    font-weight: bold;
    position: sticky;
}

hr ~ h3{
    color:red;
    display:inline;
}

video.div3 {
    background-color:blue;
}